@model GameWeb.Entities.GamesCategories

@{
    ViewData["Title"] = "Category Details";
}

<div class="container">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Category Details</h2>
        </div>

        <hr />

        <div class="mb-3">
            <label asp-for="CategoryName" class="control-label"></label>
            <input asp-for="CategoryName" class="form-control" disabled/>
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Created" class="control-label"></label>
            <input asp-for="Created" class="form-control" disabled/>
            <span asp-validation-for="Created" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
                Edit <i class="bi bi-pencil-square"></i>
            </a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
