@model GameWeb.Models.DetailsGameViewModel


<form asp-action="_RatingForm" method="post">
    <input hidden asp-for="Game.Id" />
    <div class="form-group">
        <input asp-for="Ratings.Value" type="range" min="1" max="10" class="custom-range" id="rating">
        <span asp-validation-for="Ratings.Value" class="text-danger"></span>
        <span id="currentRating"></span>
    </div>
    <button class="btn btn-primary" type="submit">Zapisz ocenę</button>
</form>

