@model GameWeb.Models.GamesCreateViewModel

@{
    ViewData["Title"] = "Create Game";
}

<div class="container">
    <div class="border p-3 mt-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div class="row pb-2">
                <h2 class="text-primary pl-3">Add new game</h2>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Choose an image, if necessary:
                <input type="file" accept="image/*" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" class="form-control" ></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input type="date" asp-for="Game.ReleaseDate" class="form-control" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Category:
                <div class="form-control">
                    @foreach (var category in Model.GamesCategories)
                    {
                        var isChecked = Model.SelectedCategoryIds.Any(tc => tc == category.Id);
                        <div class="form-check">
                            <input type="checkbox" id="category_@category.Id" name="SelectedCategoryIds" value="@category.Id" class="form-check-input" @(isChecked ? "checked" : "") />
                            <label for="category_@category.Id" class="form-check-label">@category.CategoryName</label>
                        </div>
                    }
                    <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />&nbsp;&nbsp;
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}