@model GameWeb.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<div class="login-box container mt-5">
    <form method="post" class="bg-light p-5 rounded shadow">
        <h1 class="mb-4">Login</h1>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Nazwa użytkownika:</label>
            <input type="text" asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Hasło:</label>
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" asp-for="RememberMe" class="form-check-input">
            <label asp-for="RememberMe" class="form-check-label">Zapamiętaj mnie ?</label>
        </div>
        <div class="mb-3">
            <a class="fyp" href="">Nie pamiętasz hasła ?</a>
        </div>
        <div class="mb-3">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </form>
</div>

