@{
    ViewData["Title"] = "Logout";
}
<div class="login-box container mt-5">
    <form method="post" class="bg-light p-1 rounded shadow">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <h4 >Jesteś pewien że chcesz się wylogować?</h4>
                    <p>
                        <button class="btn btn-primary" asp-action="LogoutConfirmed">Tak</button>
                        <button class="btn btn-light m-lg-5 border-dark" asp-action="DontLogout">Nie</button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>