@model GameWeb.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="register-box container mt-5">
    <form method="post" class="bg-light p-5 rounded shadow">
        <h1 class="mb-4">Register</h1>
        <div class="mb-3">
            <label class="form-label">Nazwa użytkownika</label>
            <input type="text" asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Hasło</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Potwierdź hasło</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Zarejestruj się" class="btn btn-primary">
        </div>
    </form>
</div>


