@model GameWeb.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="register-box">
    <div>
        <div>
            <h1>Register</h1>

            <form method="post">
                <div>
                    <label>User name</label>
                    <input type="text" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div>
                    <label>Email Address</label>
                    <input type="email" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label>Confirm password</label>
                    <input type="password" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>


